.lost .card .title {
  text-align: right;
  bottom: 0;
  right: 0;
  color: #fff;

  transition: .5s ease;
}

.lost {
  color: #fff;
}

.bg {
  background-color: var(--color-neutral);
}

.carousel-items > div {
  display: none;
  height: 20rem;
}

.carosel img {
  position: inherit;
}

.carosel p {
  position: inherit;
}

#pet1-control:checked ~ .carousel-inner #pet1,
#pet2-control:checked ~ .carousel-inner #pet2,
#pet3-control:checked ~ .carousel-inner #pet3,
#pet4-control:checked ~ .carousel-inner #pet4 {
  display: block;
}

.carousel-btn {
  border: 4px solid #fff;
  border-radius: 50%;
}

#pet1-control:checked ~ .carousel-inner [for="pet1-control"],
#pet2-control:checked ~ .carousel-inner [for="pet2-control"],
#pet3-control:checked ~ .carousel-inner [for="pet3-control"],
#pet4-control:checked ~ .carousel-inner [for="pet4-control"] {

  background-color: #fff;
}

.carousel-items p {
  right: 0;
  top: 0;
}

.image::before {
  position: absolute;
  width: 35%;
  left: 0;
  bottom: 0;
  border-bottom: 20px solid var(--color-neutral);
  border-right: 20px solid transparent;
  display: inline;
  content: " ";
  z-index: 300;
}

.image::after {
  position: absolute;
  left: 35%;
  bottom: 0;
  right: 0;
  border-bottom: 20px solid var(--color-neutral);
  border-left: 20px solid transparent;
  display: block;
  content: " ";
}

.image {
  border-color: var(--color-neutral-light);
}
