ol {
  background: var(--color-primary);
}

.nav a {
  padding: .5rem;
  color: #fff;
}

.nav ol {
  padding-left: .75rem;
  margin-bottom: 0;
}

.nav a:hover {
  color: var(--color-primary);
  background: var(--color-primary-light-white);
  padding: .5rem;
  border-radius: 3px;
}

footer {
  background-color: var(--color-primary);
  color: #fff;
}

.circle {
  background-color: #fff;
  border: 9px #fff;
  border-radius: 50%;
  padding-right: .75rem;
  padding-left: .75rem;
  padding-top: 3rem;
  padding-bottom: .75rem;
  margin: .5rem;
}

@media only screen and (min-width: 25em) {

  h1 {
    font-size: 3.998rem;
  }

}
