.card {
  position: relative;
  height: 20rem;
  border: none;
  margin: 0;
  color: #fff;

  background-color: var(--color-neutral-dark);
  background-size: cover;
}

.card .title {
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;

  transition: .5s ease;
}

.form-card {
  border: none;
  margin: 0;
  color: #555;
}
