.search {
  background-color: var(--color-primary);
  border: none;
}

.side a i {
  margin: auto;
  color: var(--color-primary);
}

.side a:hover {
  color: var(--color-primary);
}

.search a {
  color: #fff;
}

.side .btn-light a {
  color: var(--color-primary);
}

.bracket {
  border-top: 3px solid var(--color-primary);
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.bracket:last-child {
  border-bottom: 3px solid var(--color-primary);
}

@media only screen and (min-width: 25em) {

  .side ul {
    border-top: 3px solid var(--color-primary);
    border-bottom: 3px solid var(--color-primary);
  }

  .side li {
    display: inline-block;
  }

  .bracket {
    margin: 0;
    border-right: 3px solid var(--color-primary);
    border-bottom: none;
    border-top: none;
  }

  .bracket:first-child {
    border-left: 3px solid var(--color-primary);
    border-bottom: none;
  }

  .bracket:last-child {
    border-bottom: none;
  }
}
