.search {
  background-color: var(--color-primary);
  border: none;
  display: block;
}

.side li {
  display: inline-block;
}

.side li:first-child {
  display: inline-block;
}

.side {
  color: var(--color-primary-light);
  box-shadow: 4px -4px 7px rgba(0, 0, 0, .3);
  z-index: 50;
  background-color: #fff;
  height: 100%;
  top: 0;
  left: 0;
}

.side a:hover {
  color: var(--color-primary-light);
}

.side a {
  color: var(--color-primary);
}

.bracket:hover {
  background-color: var(--color-primary);
}

.highlight {
  background-color: var(--color-primary-light-white);
}

.highlight a {
  color: #fff;
}

.bracket:hover a {
  color: #fff;
}

.sub-menu-parent .sub-menu a {
  color: #fff;
}

.sub-menu-parent {
  position: relative;
  color: #fff;
  width: 100%;
}

.sub-menu-parent ul li a {
  margin: 0;
}

.sub-menu-parent ul {
  margin-bottom: 0;
}

.sub-menu {
  background-color: var(--color-primary);
  font-size: .9372rem;
  list-style-type: none;
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  padding: .5rem;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  color: #fff;
}

.sub-menu-parent:hover .sub-menu {
  position: relative;
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
}

@media only screen and (min-width: 38em) {

  .side li {
    display: block;
  }

  .bracket {
    margin: 0;

  }

  .search li {
    display: inline-block;
  }

  .side {
    color: var(--color-primary);
    position: fixed;
    z-index: 1200;
    width: 33.333%;
  }

  .w-banner {
    background: #fff;
    max-height: 100%;
  }

}
