.search {
  background-color: var(--color-primary);
  border: none;
  display: block;
}

.side li {
  display: inline-block;
  border-left: 3px solid var(--color-primary);
}

.side {
  color: var(--color-primary);
  background-color: #fff;
}

.side a i {
  margin: auto;
  color: var(--color-primary);
}

.side a:hover {
  color: var(--color-primary-light);
}

.side a {
  color: var(--color-primary);
}

.bracket {
  border: none;
}

@media only screen and (min-width: 38em) {

  .side ul {
    border-top: 3px solid var(--color-primary);
    border-bottom: 3px solid var(--color-primary);
  }

  .side li {
    display: block;
    border-left: 0;
  }

  .bracket {
    border: 3px solid var(--color-primary);
    border-left: none;
    border-right: none;
    margin: 0;
    border-top: none;
  }

  .search li {
    display: inline-block;
  }

  .side {
    color: var(--color-primary);
    border: 0;
    position: fixed;
    z-index: 1200;
    width: 31%;
  }

  .w-banner {
    background: #fff;
    max-height: 100%;
  }

}
