.profile .circle {
  background-color: #fff;
  border: 5px solid var(--color-neutral);
  border-radius: 50%;
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.profile p {
  color: var(--color-neutral);
}
